@use 'modules/color';
@use 'modules/text-size';

.badge {
    @include text-size.small-xs;
    color: color.white-high();
    margin: 0 0 0.25rem 0.25rem;
    display: inline-block;
    padding: 0.25rem 0.5rem;
    border-radius: 0.125rem;
    vertical-align: middle;
    background-color: color.blue-500();
}

.badge--error {
    background-color: color.error();
}